<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome to DAML-Lattice Demo</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>

<body>
    <nav th:replace="fragments/navigationBars.html :: adminnavbar"></nav>
    <div class="container">
        <div class="row">
            <h1>Add user</h1>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form name="f"
                          th:action="@{/admin/addUser}"
                          th:object="${addUserDto}"
                          method="POST">
                        <div class="mb-3">
                            <label for="username"
                                   class="form-label">Username</label>
                            <input type="text"
                                   th:field="*{userName}"
                                   class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                   class="form-label">Password</label>
                            <input type="password"
                                   th:field="*{password}"
                                   class="form-control">
                        </div>
                        <button id="submit"
                                type="submit"
                                class="btn btn-primary">Add user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>