<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Welcome to DAML-Lattice Demo</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</head>

<body>
    <nav th:replace="fragments/navigationBars.html :: usernavbar"></nav>
    <div class="container">
        <div class="row">
            <h1>Mint asset</h1>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form name="f"
                          th:action="@{/home/organization/mintAsset}"
                          th:object="${mintAssetDto}"
                          method="POST">
                        <input type="hidden"
                               th:field="*{orgId}"
                               class="form-control">
                        <input type="hidden"
                               th:field="*{assetId}"
                               class="form-control">
                        <input type="hidden"
                               th:field="*{shortName}"
                               class="form-control">
                        <div class="mb-3">
                            <label for="quantity"
                                   class="form-label">Quantity</label>
                            <input type="text"
                                   th:field="*{quantity}"
                                   class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="metadata"
                                   class="form-label">Metadata</label>
                            <input type="text"
                                   th:field="*{metadata}"
                                   class="form-control">
                        </div>
                        <button id="submit"
                                type="submit"
                                class="btn btn-primary">Mint asset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>